Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Nouman Mureed"
COLLABORATORS = "None"

---

---
# Welcome to CE880
### This is your week-3 : Problem 2 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

In [1]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Let's load iris dataset

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Iris.csv') # Please adjust the path is needed if you are loading the datafile from local computer
df # display the DataFrame
#df["PetalLengthCm"]

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

---
## Question 4:

Write a program to find the mean of the `petal.length` variable in the iris data

In [32]:
def iris_mean():
    """write a function to find the mean of the `petal.length`."""
    dd = df["PetalLengthCm"]
    return sum(dd) / len(dd)
    #return dd
    # YOUR CODE HERE
    raise NotImplementedError()

In [31]:
assert np.isclose(iris_mean(), 3.75, atol= 0.1)

---
## Question 5:
Write a program to count the number of rows in the iris data, where `variety = Setosa`

In [72]:
def iris_count():
    """Write a function to count the number of rows, where variety is Setosa"""
    #qq = df(Species == "Iris-setosa")
    df.iloc[5]
    qq = df.loc[df["Species"] == "Iris-setosa"]
    cc = qq["Species"]
    return cc.count()
    # YOUR CODE HERE
    raise NotImplementedError()

In [71]:
"""Check the your answer"""
assert iris_count() == 50

## Question 6

Write a Pandas program to calculate the correlation between `sepal.length` and `sepal.width`.

In [77]:
import itertools
def iris_correlation():
    """calculate the correlation"""
    return df['SepalLengthCm'].corr(df['SepalWidthCm'])
    # YOUR CODE HERE
    raise NotImplementedError()

In [78]:
iris_correlation()

-0.10936924995064937

In [79]:
assert np.isclose(iris_correlation(), -0.11, atol= 0.05)